<div class="post">
    <div class="masthead">
        <h2><a href="<%= post_path post %>"><%= post.title %></a></h2>
        <span>posted <%= time_ago_in_words post.created_at %> ago</span>
    </div>
    <p>
        <%== format_post post.content %>
    </p>
</div>
<style><%= Pygments.css %></style>