<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>Charlie Somerville</title>
        <description>Charlie Somerville's blog</description>
        <atom:link href="http://charlie.bz/blog.rss" rel="self" type="application/rss+xml" />
        <link>http://charlie.bz/blog</link>
        <lastBuildDate><%= CGI.rfc1123_date Time.parse @posts.first.created_at %></lastBuildDate>
        <ttl>1800</ttl>
        
        <% @posts.each do |post| %>
            <item>
                <title><%= post.title %></title>
                <description><%= format_post post.content %></description>
                <link>http://charlie.bz<%= post_path post %></link>
                <guid>http://charlie.bz<%= post_path post %></guid>
                <pubDate><%= CGI.rfc1123_date Time.parse post.created_at %></pubDate>
            </item>
        <% end %>
    </channel>
</rss>